---
import BaseLayout from '../layouts/BaseLayout.astro'
import HorizontalCard from '../components/HorizontalCard.astro'
import { getCollection } from 'astro:content'
import SelectorTheme from '@comp/SelectorTheme.astro'
---

<BaseLayout>
  <div class='w-full hidden justify-end lg:flex'>
    <SelectorTheme />
  </div>
  <div class='pb-12 mt-5'>
    <div class='text-xl py-1'>Hola 👋</div>
    <div class='text-5xl font-bold'>Soy Ivan Bongiovanni</div>
    <div class='text-3xl py-3 font-bold'>Desarrollador Full Stack</div>
    <div class='py-2'>
      <text class='text-lg'>
        Me apasiona el desarrollo de software y el trabajo en equipo, y estoy comprometido con la
        mejora continua. Soy una persona que busca mejorar constantemente, con habilidades para el
        trabajo en equipo y capacidad de aprendizaje rápido.
      </text>
    </div>
    <div class='flex gap-5 pt-8'>
      <a
        class='btn btn-secondary'
        href='https://www.linkedin.com/in/bongiovanni-ivan45/'
        target='_blank'>Conectemos</a
      >
      <a href='https://github.com/ivan2214' target='_blank' class='btn btn-outline ml-5'>
        Mi GitHub</a
      >
    </div>
  </div>

  <div>
    <div class='text-3xl w-full font-bold mb-2'>Ultimos proyetos {'</>'}</div>
  </div>

  <HorizontalCard
    title='Landing Page Bardahl Bolivia'
    img='/projects/bardahl.png'
    desc='Desarrollé una landing page informativa utilizando Astro y Svelte, implementando componentes reutilizables y siguiendo las mejores prácticas de optimización, SEO y desarrollo web, para garantizar una experiencia de usuario fluida y rápida.'
    url='https://bardahl.vercel.app/'
    badge='NUEVO'
    badge='LANDING PAGE'
  />
  <div class='divider my-0'></div>
  <HorizontalCard
    title='Landing Page WebGenius'
    img='/projects/web-genius.png'
    desc='Implementé el diseño de una landing page simple utilizando Astro, desarrollé una página informativa sobre servicios de desarrollo web, realicé optimizaciones y mejoras de SEO, trabajando en conjunto con Astro, Svelte y Tailwind, aplicando componentización y siguiendo buenas prácticas de desarrollo, además de manejar y validar formularios de contacto de manera efectiva.'
    url='https://web-genius.vercel.app/'
    badge='LANDING PAGE'
  />
  <div class='divider my-0'></div>
  <HorizontalCard
    title='El-Krusta mini-ecommerce'
    img='/projects/krusta.png'
    desc='Implementé una solución integral que permite a los usuarios realizar pedidos de manera eficiente a través de WhatsApp al desarrollar una página web con funcionalidades de carrito de compras y lista de favoritos, además de integrar la opción de continuar la compra mediante WhatsApp para ofrecer una atención más personalizada. Además, diseñé un panel de administración intuitivo que permite una fácil carga de productos para mantener el catálogo actualizado de forma sencilla.'
    url='https://el-krusta.vercel.app/'
    gitHub='https://github.com/ivan2214/el-krusta'
    badge='ECOMMERCE'
  />

  <a href='/projects' class='btn hover:btn-outline mt-5 w-full btn-primary'> Ver más</a>
</BaseLayout>
