---
import BaseLayout from '../layouts/BaseLayout.astro'
import HorizontalCard from '../components/HorizontalCard.astro'
---

<BaseLayout title='Proyectos'>
  <div>
    <div class='text-3xl w-full font-bold mb-5'>Ultimos Proyectos</div>
  </div>

  <HorizontalCard
    title='Gestion de turnos'
    img='/projects/gestion-turnos.png'
    desc='Desarrole un sistema de gestión de turnos para un consultorio medico.El cual permite gestionar pacientes, citas, usuarios, etc.'
    url='https://turnos-medicos.vercel.app/'
    badge='NUEVO'
    badge='New'
  />
  <div class='divider my-0'></div>

  <HorizontalCard
    title='Landing Page Bardahl Bolivia'
    img='/projects/bardahl.png'
    desc='Desarrollé una landing page informativa utilizando Astro y Svelte, implementando componentes reutilizables y siguiendo las mejores prácticas de optimización, SEO y desarrollo web, para garantizar una experiencia de usuario fluida y rápida.'
    url='https://bardahl.vercel.app/'
    badge='NUEVO'
    badge='LANDING PAGE'
  />
  <div class='divider my-0'></div>
  <HorizontalCard
    title='Landing Page WebGenius'
    img='/projects/web-genius.png'
    desc='Implementé el diseño de una landing page simple utilizando Astro, desarrollé una página informativa sobre servicios de desarrollo web, realicé optimizaciones y mejoras de SEO, trabajando en conjunto con Astro, Svelte y Tailwind, aplicando componentización y siguiendo buenas prácticas de desarrollo, además de manejar y validar formularios de contacto de manera efectiva.'
    url='https://web-genius.vercel.app/'
    badge='LANDING PAGE'
  />
  <div class='divider my-0'></div>
  <HorizontalCard
    title='El-Krusta mini-ecommerce'
    img='/projects/krusta.png'
    desc='Implementé una solución integral que permite a los usuarios realizar pedidos de manera eficiente a través de WhatsApp al desarrollar una página web con funcionalidades de carrito de compras y lista de favoritos, además de integrar la opción de continuar la compra mediante WhatsApp para ofrecer una atención más personalizada. Además, diseñé un panel de administración intuitivo que permite una fácil carga de productos para mantener el catálogo actualizado de forma sencilla.'
    url='https://el-krusta.vercel.app/'
    gitHub='https://github.com/ivan2214/el-krusta'
    badge='ECOMMERCE'
  />

  <div>
    <div class='text-3xl w-full font-bold mb-5 mt-10'>Todos los Proyectos</div>
  </div>

  <HorizontalCard
    title='Airbnb clone'
    img='/projects/airbnb.png'
    desc='El registro de usuarios permite acceder a todas las funciones, la búsqueda filtra alojamientos por ubicación, fechas y huéspedes. La visualización de listados muestra detalles, fotos, precios y calificaciones. Las reservas se solicitan y los anfitriones gestionan la disponibilidad en un calendario. La interfaz es intuitiva y atractiva para una experiencia agradable.'
    url='https://airbnb-project-nu.vercel.app'
    gitHub='https://github.com/ivan2214/airbnb-project'
  />
  <div class='divider my-0'></div>
  <HorizontalCard
    title='Tech Ecommerce'
    img='/projects/tech-ecommerce.png'
    desc='Desarrollo del Back End con Strapi, interfaz de usuario (UI) en el Front End con TailwindCSS, animaciones implementadas con Framer Motion, ReduxToolkit y Redux Persist para el estado global y almacenamiento local, notificaciones usando React Hoot Toast para el carrito, y búsqueda, ordenamiento y filtros para una experiencia de usuario mejorada.'
    url='https://ecommerce-front-mu.vercel.app'
    badge='ECOMMERCE'
    gitHub='https://github.com/ivan2214/EcommerceFront'
  />
  <div class='divider my-0'></div>
  <HorizontalCard
    title='Candy Shop Ecommerce'
    img='/projects/candy-shop.png'
    desc='Desarrollo del Back End utilizando Express y PostgreSQL, implementación de SCRUM para un trabajo en equipo eficiente, creación de una interfaz de usuario (UI) atractiva en el Front End con React y Chakra UI, animaciones fluidas gracias a Framer Motion, gestión de estado global con Redux y almacenamiento local optimizado, búsqueda, ordenamiento y filtros para una experiencia de usuario mejorada, integración de pago seguro con Mercado Pago SDK, y características adicionales como el carrito de compras, favoritos y un potente panel de administrador.'
    gitHub='https://github.com/AntonelaRodriguez/CandyShop'
    badge='ECOMMERCE'
  />
  <div class='divider my-0'></div>
  <HorizontalCard
    title='Crud pokemon API'
    img='/projects/pokemon.png'
    gitHub='https://github.com/ivan2214/pokemon-fullstack'
    badge='VIEJO'
  />

  <div class='divider my-0'></div>
  <HorizontalCard
    title='Buscador de peliculas'
    img='/projects/peliculas.png'
    url='https://app-de-pelis.netlify.app'
    gitHub='https://github.com/ivan2214/App-De-Pelis'
    badge='VIEJO'
  />
</BaseLayout>
