---
import BaseLayout from '../layouts/BaseLayout.astro'
import HorizontalCard from '../components/HorizontalCard.astro'
import Service from '@comp/Service.astro'
import IconImage from '@comp/IconImage.astro'

const services = [
  {
    title: 'Creación de sitios web',
    description:
      'Diseñamos y desarrollamos sitios web a medida que se adaptan a tus necesidades y objetivos comerciales.',
    icon: {
      src: 'icons/code.svg',
      alt: 'signo mayor que y menor que con una barra inclinada a la derecha al medio',
    },
  },
  {
    title: 'Responsive Design',
    description:
      'Creamos sitios web que se adaptan y funcionan de manera óptima en dispositivos móviles, tablets y computadoras de escritorio.',
    icon: {
      src: 'icons/mobile.svg',
      alt: 'signo mayor que y menor que con una barra inclinada a la derecha al medio',
    },
  },
  {
    title: 'Optimización de rendimiento',
    description:
      'Mejoramos la velocidad de carga y rendimiento de tu sitio web para garantizar una experiencia fluida y rápida.',
    icon: {
      src: 'icons/settings-code.svg',
      alt: 'signo mayor que y menor que con una barra inclinada a la derecha al medio',
    },
  },
  {
    title: 'SEO (Optimización para motores de búsqueda)',
    description:
      'Implementamos estrategias de SEO para mejorar la visibilidad de tu sitio web en los motores de búsqueda y aumentar el tráfico orgánico.',
    icon: {
      src: 'icons/seo.svg',
      alt: 'signo mayor que y menor que con una barra inclinada a la derecha al medio',
    },
  },
  {
    title: 'Diseño personalizado',
    description:
      'Creamos diseños atractivos y personalizados que reflejan la identidad de tu marca y generan una excelente impresión visual.',
    icon: {
      src: 'icons/brush.svg',
      alt: 'signo mayor que y menor que con una barra inclinada a la derecha al medio',
    },
  },
  {
    title: 'Carga de contenidos',
    description:
      'Gestionamos y organizamos el contenido de tu sitio web de manera eficiente para una navegación intuitiva y una presentación efectiva.',
    icon: {
      src: 'icons/file-upload.svg',
      alt: 'signo mayor que y menor que con una barra inclinada a la derecha al medio',
    },
  },
  {
    title: 'Integración de herramientas y funcionalidades',
    description:
      'Incorporamos herramientas y funciones especiales, como formularios de contacto, integración de redes sociales, integración de sistemas de pago, entre otras, para potenciar la interacción con tus visitantes.',
    icon: {
      src: 'icons/tools.svg',
      alt: 'signo mayor que y menor que con una barra inclinada a la derecha al medio',
    },
  },
  {
    title: 'Mantenimiento y actualizaciones',
    description:
      'Ofrecemos servicios de mantenimiento continuo y actualizaciones para garantizar que tu sitio web esté siempre actualizado y funcionando de manera óptima.',
    icon: {
      src: 'icons/update.svg',
      alt: 'signo mayor que y menor que con una barra inclinada a la derecha al medio',
    },
  },
]
---

<BaseLayout title='Projects'>
  <div>
    <div class='text-3xl w-full font-bold mb-5'>Servicios que ofrezco</div>
  </div>

  <section class='flex flex-wrap flex-row gap-8'>
    {
      services.map((service) => {
        return (
          <>
            <Service title={service.title} description={service.description}>
              <span slot='icon'>
                <IconImage src={service.icon.src} alt={service.icon.alt} />
              </span>
            </Service>
            <div class='divider my-0' />
          </>
        )
      })
    }
  </section>
</BaseLayout>
