---
import ArrowDownIcon from './ArrowDownIcon.astro'
import ThemeCard from './ThemeCard.astro'
import ThemeIcon from './ThemeIcon.astro'
const themes = [
  'mytheme',
  'light',
  'dark',
  'cupcake',
  'bumblebee',
  'emerald',
  'corporate',
  'synthwave',
  'retro',
  'cyberpunk',
  'valentine',
  'halloween',
  'garden',
  'forest',
  'aqua',
  'lofi',
  'pastel',
  'fantasy',
  'wireframe',
  'black',
  'luxury',
  'dracula',
  'cmyk',
  'autumn',
  'business',
  'acid',
  'lemonade',
  'night',
  'coffee',
  'winter',
]
---

<div title='Change Theme' class='dropdown dropdown-end lg:border lg:rounded-full lg:border-secondary' id='theme-selector'>
  <div tabindex='0' class='btn gap-1 normal-case btn-ghost'>
    <ThemeIcon />
    <span class='hidden md:inline'>Theme</span>
    <ArrowDownIcon />
  </div>
  <div
    class='dropdown-content bg-base-200 text-base-content rounded-t-box rounded-b-box top-px max-h-96 h-[70vh] w-52 overflow-y-auto shadow-2xl mt-16'
  >
    <div class='grid grid-cols-1 gap-3 p-3' tabindex='0'>
      {themes.map((theme) => <ThemeCard theme={theme} />)}
    </div>
  </div>
</div>

<script>
  const theme_selectors = document.querySelectorAll('#theme-selector div[data-theme]')
  const theme = window.localStorage.getItem('data-theme')

  if (theme) {
    updateTheme(theme)
  } else {
    updateTheme('mytheme')
  }

  theme_selectors.forEach((selector) => {
    selector.addEventListener('click', () => {
      updateTheme(selector.getAttribute('data-theme'))
    })
  })

  function updateTheme(newTheme) {
    document.querySelector('html').setAttribute('data-theme', newTheme)
    window.localStorage.setItem('data-theme', newTheme)
  }
</script>
