---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import SideBar from '../components/SideBar.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import SelectorTheme from '@comp/SelectorTheme.astro'

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
} = Astro.props
---

<!DOCTYPE html>
<html lang='es' data-theme='mytheme'>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-EQY2H9FH19'></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-EQY2H9FH19')
    </script>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class='bg-base-100 drawer drawer-mobile'>
      <input id='my-drawer' type='checkbox' class='drawer-toggle' />
      <div class='drawer-content flex flex-col bg-base-100'>
        <div class='w-full hidden lg:sticky lg:top-0 justify-end lg:flex lg:p-5 z-50 bg-base-100'>
          <SelectorTheme />
        </div>
        <Header title={SITE_TITLE} />
        <div class='md:flex md:justify-center'>
          <main class='p-6 pt-10 max-w-[900px]'>
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar />}
    </div>
  </body>
</html>
